<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="auto-close" default="false" doc="Startup mode"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find double_panda)/robots/dual_panda_example.urdf.xacro"/>
  
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="world" value="$(find double_panda)/worlds/double_panda.wbt"/>
  </include>

  
  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Webots controller -->
  <include file="$(find double_panda)/launch/panda_controller.launch">
    <arg name="auto-close" value="$(arg auto-close)"/>
  </include>
</launch>
